@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
  
}

/* styles/reset.css */
/* A custom CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8C9BAC;
  border-radius: 8px;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #8C9BAC transparent;
}

/* Drawer specific scrollbar styles */
.drawer-scrollbar {
  overflow-y: scroll;
}

.drawer-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.drawer-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.drawer-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8C9BAC;
  border-radius: 8px;
}

.drawer-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8C9BAC transparent;
}

/* #map { height: 180px; } */

/* --------------- Alterações Css Leaflet -------------  */
.leaflet-left .leaflet-control {
  top: 28.5rem;
}

/* --------------- Drawer Position -------------  */
.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  top: 48px !important;
}

/* --------------- Material Ui Container -------------  */
@media (min-width: 600px) {
  .css-1oqqzyl-MuiContainer-root {
    padding: 0 !important;
  }
}

@media (min-width: 1200px) {
  .css-1oqqzyl-MuiContainer-root {
    max-width: 100% !important;
  }
}
